{% extends 'base.html' %}
{% load static %}

{% block titulo %}
Download Escala
{% endblock %}

{% block content %}
<header class="min-h-screen bg-black bg-opacity-50 bg-blend-overlay showcase justify-center bg-no-repeat bg-cover bg-center"  style="background-image: url('{% static 'image/FundoRelatorios.jpg' %}');">
    <form name="FormDownloadEscala" id="FormDownloadEscala" method="POST" action="" class="form-horizontal" autocomplete="off">
        {% csrf_token %}
        <div class="container text-center p-10">
            <div class="row align-items-center">
                <div class="col">
                    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                </div>
                <div class="col">
                    <label class="label">Escolha o Relatório:</label>
                    <br><br><br>
                        <button type="button" class="btn btn-primary bg-blue-600" data-bs-toggle="modal" data-bs-target="#horarioSaida"> Horario de Saída </button>
                    <br><br><br>
                        <button type="button" class="btn btn-primary bg-blue-600" data-bs-toggle="modal" data-bs-target="#Disponibilidade"> Disponibilidade </button>
                    <br><br><br>
                        <button type="button" class="btn btn-primary bg-blue-600" data-bs-toggle="modal" data-bs-target="#Colaboradores"> Colaboradores </button>
                </div>
                <div class="col">
                </div>
            </div>
        </div>
        <div class="modal fade" id="horarioSaida" tabindex="-1" aria-labelledby="horarioSaida1" aria-hidden="true">
            <div class="modal-dialog">
                <form name="Form_hs" id="Form_hs" action="" method="POST" autocomplete="off">
                    {% csrf_token %}
                <div class="modal-content bg-white text-black dark:bg-slate-900 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
                    <div class="modal-header bg-blue-600 text-white">
                        <h1 class="modal-title fs-5" id="horarioSaida1">Horario de Saída</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="datahorariosaida"> Selecione a Data:</label>
                        <br><br>
                        <input name="datahorariosaida" id="datahorariosaida" type="date" class="form-control rounded-md" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Fechar</button>
                        <button class="btn btn-outline-primary">Baixar</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="modal fade" id="Disponibilidade" tabindex="-1" aria-labelledby="Disponibilidade1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-white text-black dark:bg-slate-900 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
                    <div class="modal-header bg-blue-600 text-white">
                        <h1 class="modal-title fs-5" id="Disponibilidade1">Disponibilidade</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form name="Form_disp" id="Form_disp" action="" method="POST" autocomplete="off">
                        {% csrf_token %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-outline-primary">Baixar</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="Colaboradores" tabindex="-1" aria-labelledby="Colaboradores1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content bg-white text-black dark:bg-slate-900 rounded-lg px-6 py-8 ring-1 ring-slate-900/5 shadow-xl">
                    <div class="modal-header bg-blue-600 text-white">
                        <h1 class="modal-title fs-5" id="Colaboradores1">Colaboradores</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                        <form name="Form_down" id="Form_down" action="" method="POST" autocomplete="off">
                            {% csrf_token %}
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="funcao_down" class="col-form-label">Função:</label>
                                    <br>
                                    <select id="funcao_down" name="funcao_down" class="select rounded-md form-control" required>
                                        <option value="" selected>Selecione</option>
                                        <option value="MOTORISTA VUC">MOTORISTA VUC</option>
                                        <option value="MOTORISTA MÉDIO">MOTORISTA MÉDIO</option>
                                        <option value="MOTORISTA PESADO">MOTORISTA PESADO</option>
                                        <option value="AJUDANTE">AJUDANTE</option>
                                        <option value="TODOS">TODOS</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="status_down" class="col-form-label">Disponibilidade:</label>
                                    <br>
                                    <select id="status_down" name="status_down" class="select rounded-md form-control" onclick="definirPrazo()" required>
                                        <option value="" selected>Selecione</option>
                                        <option value="DISPONÍVEL">DISPONÍVEL</option>
                                        <option value="EM ROTA">EM ROTA</option>
                                        <option value="FOLGA">FOLGA</option>
                                        <option value="ATESTADO">ATESTADO</option>
                                        <option value="AFASTADO">AFASTADO</option>
                                        <option value="FÉRIAS">FÉRIAS</option>
                                        <option value="TODOS">TODOS</option>
                                    </select>
                                </div>
                                <div class="col">
                                    <label for="empresa_down" class="col-form-label">Empresa:</label>
                                    <br>
                                    <select id="empresa_down" name="empresa_down" class="select rounded-md form-control" required>
                                        <option value="" selected>Selecione</option>
                                        <option value="IPIRANGA">IPIRANGA</option>
                                        <option value="SHELL">SHELL</option>
                                        <option value="TODOS">TODOS</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Fechar</button>
                                <button class="btn btn-outline-primary">Baixar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        <script src="/static/js/custom.js"></script>
    </form>
</header>
{% endblock %}