{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}

Disponibilidade

{% endblock %}

{% block content %}

    <header class="min-h-screen bg-black bg-opacity-75 bg-blend-overlay showcase border-gray-600 border-b-8 flex justify-center items-center bg-no-repeat bg-cover bg-center"  style="background-image: url('{% static 'image/CarregarRemessas.jpg' %}');">
        <div class="z-10 h-full py-32 md:py-0 text-gray-100 text-center flex items-center flex-col">
            <form action="" method="POST" enctype="multipart/form-data">
               {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Importar Remessas</legend>
                   <input type="file" name="filename">
                    {{ form|crispy }}
                </fieldset>
                <button class="bg-blue-600 py-1 px-3 text-white w-full md:text-lg rounded-md" type="submit">Importar</button>

            </form>
        </div>
    </header>

{% endblock %}